.background-green-light {
    -fx-background-color: #0e8420;
}

.background-green-dark {
    -fx-background-color: #075d5b;
}

.background-orange {
    -fx-background-color: #e95420;
}

.button {
    -fx-background-color: #e95420;
    -fx-min-width: 175;
    -fx-max-height: 25;
    -fx-background-radius: 10;
    -fx-text-fill: #fff;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 18;
}

.button:hover {
    -fx-background-color: #a43916;
}

#rootElement {
    -fx-border-color: #0e8420;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#rootElement:hover {
    -fx-background-color: #0e842044;
}
.inputBorder {
    -fx-border-color: #075d5b;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: none;
}