.label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 18;
}

#tbMenuLabel {
    -fx-font-weight: bold;
    -fx-font-size: 22;
}

.menu-items:hover {
    -fx-text-fill: #0e8420;
    -fx-underline: true;
}